

.graph_img{
    position: absolute;
    right: 5%;
    top: 10%;
    margin-left:0%;
    margin-right: 0%;
}
.btns{
    position: relative;
    left: 50%;
    width: 50%;
}
th{
background: darkgreen;
}

td{
    border: 0.5px solid black;
    text-align: center;
    border-collapse: collapse;
    }
