

.graph_img{
    position: absolute;
    right: 15%;
    top: 10%
}
.btns{
    position: relative;
    left: 50%;
}
th{
background: darkgreen;
}

td{
    border: 0.5px solid black;
    text-align: center;
    border-collapse: collapse;
    }
