th{
    background: darkgreen;
    }
    
td{
    border: 0.5px solid black;
    text-align: center;
    border-collapse: collapse;
    }

.non_prof{
    display: inline-block;
    
}
.prof{
    display: inline-block;
}
.btns{
    position: relative;
    margin-left: 50%;
    margin-right: 50%;
}