<!DOCTYPE html>
<html>
    <head>
        <header></header>
        <body>
            <main>
                {% block main%}
                главная часть страницы
                {% endblock %}
            </main>
            <ul>
                <li>{% block link_1 %}<a href="{% url 'profession' %}">о профессии</a>{% endblock %}</li>
                <li>{% block link_2 %}<a href="{% url 'demand'%}">востребованность этой профессии</a>{% endblock %}</li>
                <li>{% block link_3 %}<a href="{% url 'locations'%}">где лучше всего работать</a>{% endblock %}</li>
                <li>{% block link_4 %}<a href="{% url 'skills'%}">то что нужно уметь</a>{% endblock %}</li>
                <li>{% block link_5 %}<a href="{% url 'last_vacancies'%}">вчерашние вакансии</a>{% endblock %}</li>
            </ul>
        </body>
        <footer>
            {% block footer %}{% endblock %}
        </footer>
    </head>
</html>