<!DOCTYPE html>
<html>
    
    <head>
        {% load static %}
        <link rel="stylesheet" href="{% static 'stat_site/base_static.css' %}" />
        {% block head %}
        {% endblock %}
    </head>
    <body >
    <header>
            администратор баз данных как успешное настоящие
    </header>
    <main class="main-content">
                {% block main%}
                <p>Добро пожаловать на мой сайт, посвященный профессии администратора баз данных</p>
                <p>на нем вы можете найти различную информацию об этой замечательной профессии</p>
                <p>о чем эта страница?</p>
                <p>она приветственная, и должна немного рассказать вам о том куда вы полпали</p>
                <p></p>
                {% endblock %}
    </main>
    <ul class="left-menu">
                <li>{% block link_1 %}<a href="{% url 'profession' %}">о профессии</a>{% endblock %}</li>
                <li>{% block link_2 %}<a href="{% url 'demand'%}">востребованность этой профессии</a>{% endblock %}</li>
                <li>{% block link_3 %}<a href="{% url 'locations'%}">где лучше всего работать</a>{% endblock %}</li>
                <li>{% block link_4 %}<a href="{% url 'skills'%}">то что нужно уметь</a>{% endblock %}</li>
                <li>{% block link_5 %}<a href="{% url 'last_vacancies'%}">вчерашние вакансии</a>{% endblock %}</li>
    </ul>

    <footer>
            Осипов Андрей Владимирович РИ-210912
    </footer>
    </body>
</html>